---
layout: full_width
title: Projects
---
<div class="row">
  <div class="small-12 columns">
    <p>These are fun things I’ve worked on:</p>
  </div>
</div>

{% for project in site.data.projects %}
  <div class="row">
    <div class="small-9 columns">
      <h3> <a href="{{ project['url'] }}">{{ project['title'] }}</a> <small>({{ project['years'] }})</small></h3>
      <p>{{ project['description'] }}</p>
    </div>
    <div class="small-3 columns" style="margin-bottom: 1em;">
      {% if project.image %}
        <a class="th radius" href="{{ project['url'] }}">
          {{ project.image | img : "magick:resize:200x200" }}
        </a>
      {% elsif false %}
        {% img projects/missing magick:resize:200x200 %}
      {% endif %}
    </div>
  </div>
{% endfor %}
