---
layout: default
title: blog index
---
{% for post in paginator.posts %}
  <a href="{{ post.url }}" title="{{post.title}}">
    <h3>
      {{ post.title }}&nbsp;
      <small style="white-space: nowrap;">
        {{ post.date | date_to_long_string }}
      </small>
    </h3>
  </a>
  {% include _page_media.html post=post %}
  {{ post.excerpt }}
  <a href="{{ post.url }}" title="{{post.title}}">Read more →</a>
  <hr>
{% endfor %}
<!-- Pagination links -->
<nav aria-label="Pagination" class="text-center">
  <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="pagination-previous"><a href="{{ paginator.previous_page_path }}" aria-label="Previous page">&laquo;</a></li>
    {% else %}
      <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
    {% endif %}
    <li class="current">Page {{ paginator.page }} of {{ paginator.total_pages }}</li>
    {% if paginator.next_page %}
      <li class="pagination-next"><a href="{{ paginator.next_page_path }}" aria-label="Next page">&raquo;</a></li>
    {% else %}
      <li class="pagination-next disabled">Next <span class="show-for-sr">page</span></li>
    {% endif %}
  </ul>
</nav>
