---
layout: default
title: blog index
---
{% for post in paginator.posts %}
  <a href="{{ post.url }}" title="{{post.title}}">
    <h3>
      {{ post.title }}&nbsp;
      <small style="white-space: nowrap;">
        {{ post.date | date_to_long_string }}
      </small>
    </h3>
  </a>
  {% include _page_media.html post=post %}
  {{ post.excerpt }}
  <a href="{{ post.url }}" title="{{post.title}}">Read more →</a>
  <hr>
{% endfor %}

<nav aria-label="Pagination">
  <ul class="pagination text-center">
    {% if paginator.previous_page %}
      <li class="pagination-previous"><a href="{{ paginator.previous_page_path }}" aria-label="Previous page"><span class="show-for-sr">Previous page</span></a></li>
    {% endif %}
    <li><span class="show-for-sr">You're on page</span> {{ paginator.page }} of {{ paginator.total_pages }}</li>
    {% if paginator.next_page %}
      <li class="pagination-next"><a href="{{ paginator.next_page_path }}" aria-label="Next page"><span class="show-for-sr">Next page</span></a></li>
    {% endif %}
  </ul>
</nav>
