<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">

  <meta property="twitter:card" content="summary">
  <meta property="twitter:site" content="@drewish" />
  <meta property="twitter:creator" content="@drewish">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}Probably drewish talking about code.{% endif %}" />

  <meta property="og:title" content="drewish.com" />
  <meta property="og:url" content="http://drewish.com/" />
  <meta property="og:type" content="blog" />
  <meta property="og:image" content="//farm1.static.flickr.com/96/230452349_abe2ac4d7e.jpg" />
  <meta property="fb:app_id" content="111970252198561" />
  <meta name="readability-verification" content="9ZZzS7eAwgHQq4kmmTPY3c4BKaQ2etYpQDqMdJUQ"/>

  <meta name="viewport" content="width=device-width" />

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/rss.xml">
  <link href='//fonts.googleapis.com/css?family=Lato:300,400|Merriweather:300,300italic,700|Ubuntu+Mono' rel='stylesheet' type='text/css'>
  {% stylesheet app %}
  {% javascript app %}
</head>
