<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body>
    {% include _title_bar.html %}
    <div class="row">
      <div class="columns">
        <h2 class="subheader">
          {{ page.title }} &nbsp;
          <small style="white-space: nowrap;">{{ page.date | date_to_long_string }}</small>
        </h2>
        {% if page.vimeo %}
          <div class="flex-video widescreen vimeo">
            {% oembed {{page.vimeo}} %}
          </div>
        {% elsif page.image %}
          <p>{% oembed {{page.image}} %}</p>
        {% endif %}
        {{ content }}
        <p>
          <a href="/">← Back to the top</a>
        </p>
      </div>
    </div>
  </body>
  {% include _footer.html %}
</html>
